@media screen and (max-width: 1024px) {
    #section-download {
        width: 90%;
        text-align: center;
        margin-top: 20vmax;
    }

    #section-download h3 {
        width: 85%;
        margin-top: 2rem;
    }

    #section-download-sub {
        width: 100%;
    }

    #section-download-button a h4{
        font-size: 1.5vh;
    }

    #section-download-outro {
        width: 60vw;
    }
    
    #section-download-outro h4{
        font-size: 2vh;
        line-height: 2.5vh;
        overflow: hidden;
    }   

    #section-test {
        width: 85%;
    }
}