.join {
    background: var(--color-background-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 1rem;
    min-height: calc(100vh - 100px);
    text-align: center;
}

.join h1 {
    font-size: 4.5vmax;
    color: var(--color-text)
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 20vmax;
    text-align: center;
}

.join h3 {
    max-width: 1000px;
}

.social-media-links {
    display: flex;
    align-items: flex-end;
    width: auto;
    justify-content: start;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 1rem;
    gap: 1.5rem;
}