* {
    scroll-behavior: smooth;

    font-family: 'Poppins';
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*primary colors*/
    --color-primary: #0088EB;
    --color-secondary: #2F9DED;
    --color-tertiary: #0065AE;

    /*typography & button colors*/
    --color-text: #1b1b1b;
    --color-text-secondary: #F5F5F5;

    /*background colors*/
    --color-background-primary: #F5F5F5;
    --color-background-secondary: #0088EB;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    background-color: var(--color-background-primary);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.dark-button {
    background-color: var(--color-text);
    color: var(--color-text-secondary);
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 1.2;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    text-align: center;
}

.dark-button img {
    margin-left: 0.5rem; 
    width: 18px; 
    height: 18px;
}

.disable-button {
    background-color: grey;
    color: var(--color-text-secondary);
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 1.2;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: not-allowed;
}